# Database
DATABASE_URL="file:./data.db"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-here-at-least-32-chars"

# Platform Configuration
NEXT_PUBLIC_PLATFORM_NAME="استضافة الذئب"
NEXT_PUBLIC_PLATFORM_URL="http://localhost:3000"
